.Home-Component-Container {
  /* background-color: red; */

  height: 97vh;
  width: 100vw;
  background-color: #242124;


}


.App-Component {
  background-color: #242124;

  height: 100vh;
  width: 100vw;

}

.Buttons-Register-Form {
  text-align: center;

}

.Datos-Basicos-Rgister-Form {
  flex: 1;
  /* This makes both columns take up equal space */
  padding: 10px;
  /* Optional: Add some padding for better appearance */
}

.Prediccion-Rgister-Form {

  flex: 1;
  /* This makes both columns take up equal space */
  padding: 10px;
  /* Optional: Add some padding for better appearance */
  margin-right: 0;

}

.Groups-Component-Container {
  display: flex;
  flex-wrap: wrap;
  /* Permitir que los elementos se envuelvan en múltiples líneas */
  justify-content: center;
  /* Alinear horizontalmente los elementos */

}

.Accordion-Groups {
  border: 2px black solid;
  z-index: 2;
  /* Adjust this value to change the stacking order */

}

.Card-Container {
  width: calc(100% / 6);
  /* Establecer el ancho de cada elemento para que haya 6 en una fila */
  margin: 0.5%;
}

.Card-Container-Title {
  margin-left: 5%;
}

.Accordion-Groups {
  position: fixed;
  /* Posición fija en la ventana del navegador */
  bottom: 0;
  width: 100%;
  border: 1px black;
}

.Card-Container-Item {
  display: flex;
  flex-direction: column;
  position: relative;

  /* Establishes the containing block for the positioned div */


}

.Card-Container-Item:hover {
  background-color: #083c87;
  cursor: pointer;

}

.Card-Container-Item-CountryName {
  flex: 80;
  /* Take up 95% of the available space */
  display: inline-block;
  /* or inline-flex, or inline-grid */
}

.Card-Container-Item-CountryFlag {
  flex: 15;
  display: inline-block;
  width: 20%;
  height: 75%;
  margin-right: 10%;

}

.Card-Container-Item-Flag {
  width: 100%;
  /* Ancho del cuadrado, el 50% del contenedor padre */
  position: relative;
  /* Necesario para el truco de hacer un cuadrado con padding-top */
  background-size: cover;
  /* Cubre todo el área del cuadrado */
  background-position: center;
  /* Centra la imagen */
}

.Card-Container-Item-CountryPoints {
  flex: 5;
  /* Take up 95% of the available space */
  right: 0;
  display: inline-block;
  /* or inline-flex, or inline-grid */
  position: absolute;
  /* Establishes the containing block for the positioned div */
  margin-right: 10%;
}

.Home-Component-MatchDisplayComponent {
  width: 100%;
  border: 5px black solid;
  z-index: 1;
  /* Adjust this value to change the stacking order */
  display: inline-block;
  /* margin-top: 10%; */

}

.PlaceHolder-Image-Component {
  height: 375px;
  width: 100%;
}

.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.Country-Matches-Container {
  display: flex;
  width: 100%;
}

.left {
  flex: 1;
  display: flex;
  /* Utilizar flexbox para centrar verticalmente */
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}

.right {
  flex: 1;
  display: flex;
  /* Utilizar flexbox para centrar verticalmente */
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}

.middle {
  flex: 0 0 20%;
  display: flex;
  /* Utilizar flexbox para centrar verticalmente */
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}

.NavBar-Avatar-Component {
  right: 0;
  margin-right: 2%;
}

.NavBar-Component-Dropdown {
  margin-right: 7.5%;
  cursor: pointer
}


body {
  background-color: #080710;
}

.Register-Component-Form {
  display: flex;

  width: 80%;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: #1f262a;

}

.Login-Component {
  width: 30%;
  height: 60%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: #1f262a;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad,
      #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right,
      #ff512f,
      #f09819);
  right: -30px;
  bottom: -80px;
}

form {
  height: 520px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.Register-Component-Selector-Carrera {
  color: transparent;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.login-label {
  display: block;
  font-size: 16px;
  font-weight: 500;
}


input {
  display: block;
  height: 35px;
  width: 100%;
  background-color: rgba(49, 59, 65, .6);
  border-radius: 3px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
}

.login-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(49, 59, 65, .6);
  border-radius: 3px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #267fff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #083c87
}

.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}

.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}

.Login-Component-Title {
  color: #fff;
  font-style: bold;
}

.Login-Component-Button {
  margin-top: 5%;
  border-radius: 15px;
}

.Login-Component-Text {
  margin-top: 1%;
  right: 0;
  text-align: right;
}

.Login-Component-RegisterText {
  right: 0;
  text-align: right;
  margin-top: -2%;
  cursor: pointer;
  color: #267fff;

}

.Login-Component-RegisterText:hover {
  color: #083c87
}

.Login-Component-Alert {
  position: relative;
  /* Posición fija en la ventana del navegador */
  bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columnas */
  grid-template-rows: repeat(5, auto);
  /* 5 filas */
  gap: 10px;
  /* Espacio entre las imágenes */
  padding: 10px;
  /* Espacio alrededor de la grilla */

}

.grid-item:hover img {
  transform: scale(1.1);
  /* Aumenta el tamaño de la imagen al 110% */
  transition: transform 0.3s ease;
  /* Suaviza la transición */
  cursor: pointer;

}

.grid-item {
  overflow: hidden;
  padding: 10%;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 10%;
  /* Oculta partes de la imagen que se desborden */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Esto centrará la imagen verticalmente */

}

.grid-item {
  width: 100%;
  /* O ajusta el ancho según tus necesidades */
}

.grid-item img {
  width: 100%;
  /* Las imágenes ocupan todo el espacio del contenedor */
  height: auto;
  /* La altura se ajusta automáticamente */
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  overflow: hidden;
  /* Oculta cualquier parte de la imagen que esté fuera del contenedor */

}

.Match-Display-FlagContainer {
  text-align: center;
  width: 100%;
  /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto;
  /* Mantiene la proporción de aspecto */
}

.Match-Display-FlagContainer img {
  width: 350px;
  height: 175px;
}

.name {
  text-align: center;
}

.VS-Column {

  display: inline-block;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Versus {
  width: 50px;
  text-align: center;

}

.Carreras-Options {
  color: #080710;
}

#carrera {
  color: #080710;
}
.Prediction-Component-Matchs {
  width: 100%;
}



.Prediction-Match-Component {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 25%;
  height: 200px;
  margin: 2%;

  border-radius: 10px;
  border: white solid 1px;
  padding: 10px;
}

.Prediction-Match-Component-TeamImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.Prediction-Match-Component-Team1 {
  grid-area: 1 / 1 / 4 / 3;
}

.Prediction-Match-Component-Team2 {
  grid-area: 1 / 4 / 4 / 6;
}

.Prediction-Match-Component-Button {
  grid-area: 1 / 3 / 4 / 4;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  color: white;
}

.Prediction-Match-Component-Information {
  grid-area: 4 / 1 / 5 / 6;
  display: flex;
  flex-direction: column;
  position: relative;
  color:  white;
  margin-top: 2%;
  border-top: solid white 1px;
}

.Prediction-Match-Component-Information-Date {
  flex: 50;
  display: inline-block;

  position: absolute;
}

.Prediction-Match-Component-Information-Stage {

  right: 0;
  display: inline-block;
  position: absolute;
}

.Ranking-Header {
  text-align: center;
  color: white;
}

.User-Container {
  height: 12%;
  width: 50%;
  border-radius: 20px;
  margin: 0 auto;
  background-color: rgb(99, 99, 99);
  color: white;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos al borde izquierdo y derecho */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px;
}

.User-Container h2 {
  margin: 0;
}